<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="fotosocial-get-user-posts-dm">
  <template>
  </template>

  <script>
    /**
     * `fotosocial-get-user-posts-dm`
     * data manager que obtiene los post de un usuario especifico
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class FotosocialGetUserPostsDm extends Polymer.Element {
      static get is() { return 'fotosocial-get-user-posts-dm'; }
      static get properties() {
        return {
        };
      }

      getUserPosts(user) {
        let fotosocial = JSON.parse(localStorage.getItem('fotosocial'));
        let userPosts = fotosocial.users.find(el => el.user === user);
        this.dispatchEvent(new CustomEvent('user-posts', {
          bubbles: true,
          composed: true,
          detail: userPosts.posts === undefined ? [] : userPosts.posts
        }));
      }
    }

    window.customElements.define(FotosocialGetUserPostsDm.is, FotosocialGetUserPostsDm);
  </script>
</dom-module>
